.head {
    color: blue;
    font-family: Montserrat,sans-serif;
    font-style: italic;
}
Element body {
    color:black;
    background-color:white;
}
.nav{background-color:lightblue;
}
nav{
    text-align: center;
}