.head {
    color: blue;
    
}
/* h1 {
}
h2 {
    
} */
body {
    display:grid;
    color:black;
    background-color:  #edddd0;
    grid-template-columns: 5;
    grid-template-rows: ;
}
.nav{color:blue;
    font-family: Montserrat,sans-serif;
    font-style: italic;   
    background-color: #db504a;
    grid-column: 2/4;
}
nav {
    color: red;
    grid-column: 1/2;
    grid-row: 1fr;
}